<div class="row">
  <div class="col-sm-6 mx-auto pt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="text-center pb-3">Welcome Back!</h5>
        <%= link_to('Log in with Facebook!', '/auth/facebook', class:"btn btn-primary btn-block mb-4")%>
        <p class="text-center">or</p>
        <hr>
        <h5 class="card-title pb-3">Log-in To Your Account</h5>
          <%= form_tag('/login', method: :post) do %>

            <div class="form-group">
              <%= label_tag(:email, "Your email:") %><br>
              <%= email_field(:user, :email, class: "form-control") %>
            </div>

            <div class="form-group">
              <%= label_tag(:password, "Your password:") %>
              <%= password_field_tag(:password, nil, class: "form-control") %>
            </div>

            <div class="actions">
              <%= submit_tag("Sign In") %>
            </div>

        <% end %>
      </div>
    </div>
  </div>
