<%= form_for @comment do |f| %>

  <div class="form-group" >
    <%= f.text_area :content, class: "form-control"%>
  </div>

  <%= f.hidden_field :event_id, value: @event.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <br/>
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
  </div>


<% end %>
