<div class="row">
  <div class="col-sm-6 mx-auto pt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title pb-3"><%=@user.name.titleize%></h5>
        <p class=""><b> A Bit About Me:</b><br>
          <%=@user.about.capitalize%></p>
        <p><b>Home Town:</b> <%=@user.city%>, <%=@user.state%></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mx-auto pt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title pb-3"><%=@user.name.titleize%> Upcoming Events</h5>
          <%if @user_events.empty?%>
            <p>You have no events to show.</p>
          <%else%>
            <ul class="list-group">
              <%@user_events.each do |event| %>
                <li class="list-group-item"><%=link_to event.title.titleize, event_path(event)%></li>
              <%end%>
            </ul>
          <%end%>
        <%if @user == current_user%>
          <%= link_to '<button type="button" class="btn btn-primary mt-2">Create New Event</button>'.html_safe, new_event_path %>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div class="row">
<%if @user == current_user %>
  <div class="col-sm-6 mx-auto pt-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title pb-3">RSVP'd Events</h5>
        <%if @attending.empty?%>
          <p>You have no RSVP'd events. Click <%=link_to "HERE", events_path%> to see all upcoming events</p>
        <%else%>
          <ul class="list-group">
            <%@attending.each do |event| %>
              <li class="list-group-item"><%=link_to event.title.titleize, event_path(event)%>, <%=event.date%></li>
            <%end%>
          </ul>
        <%end%>
      </div>
    </div>
  </div>
    <div class="col-sm-6 mx-auto pt-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title pb-3">Events Near You</h5>
          <%if @events_near_by.empty?%>
            <p>No Events near by. Click <%=link_to "HERE", events_path%> to see all the events.</p>
          <%else%>
            <ul class="list-group">
              <%@events_near_by.each do |event| %>
                <li class="list-group-item"><%=link_to event.title.titleize, event_path(event)%>, <%=event.date%></li>
              <%end%>
            </ul>
          <%end%>
        </div>
      </div>
    </div>
  <%end%>
</div>
