
<%= form_for @event do |f| %>

<div class="form-group">
<%= f.label "Event Title" %>
<br>
<%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :date, "Date" %>
  <br>
  <%= f.date_select :date , class: "form-control"%>
</div>

  <div class="form-group">
    <%= f.label :time, "Time" %>
    <br>
    <%= f.time_select :time, class: "form-control"%>
  </div>

  <div class="form-group">
  <%= f.label "Description" %>
  <br>
  <%= f.text_area :description, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

<p>Location</p>
  <%= f.fields_for :location do |f| %>
    <%= f.label :name%>
    <br>
    <%= f.text_field :name %><br>

    <%= f.label :address %>
    <br>
    <%= f.text_field :address %><br>

    <%= f.label :city %>
    <br>
    <%= f.text_field :city %><br>

    <%= f.label :state %>
    <br>
    <%= f.text_field :state %><br>

  <% end %>

  <div class="actions">
    <br/>
        <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>


<% end %>
