<div class="row">
  <div class="col-sm-6 mx-auto pt-5">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title pb-3"><%=@location.name%></h5>
        <p>
          <%=@location.name%><br>
          <%=@location.address%><br>
          <%=@location.city%>, <%=@location.state%>
        </p>
        <%if @location.user == current_user%>
          <%= link_to '<button type="button" class="btn btn-primary mt-2">Edit Location</button>'.html_safe, edit_user_location_path(@location.user, @location) %>
        <%end%>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title pb-3">Upcoming Events: </h5>
          <ul class="list-group">
            <%if @upcoming_events.empty?%>
              <p>No events to show</p>
            <%else%>
              <%@upcoming_events.each do |event| %>
                <li class="list-group-item"><%=link_to event.title,user_event_path(event.user, event)%></li>
            <%end%>
          <%end%>
         </ul>
         <%if @location.public == true%>
           <%= link_to '<button type="button" class="btn btn-primary mt-2">Create New Event</button>'.html_safe, new_user_event_path(current_user) %>
         <%end%>
      </div>
    </div>
  </div>
</div>
